target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
cert.pem
key.pem
ca.pem
*/bin
*.log
.buildpath
.metadata
.classpath
.factorypath
.settings/
.project
*/.springBeans
*/paho*
*.pem
*.iml
*manifest-with-credentials.yml
*.pid
*logging.file_IS_UNDEFINED